@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cal+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: "Abel", sans-serif;
    color: #E0E0E0;
}

i{
    color: #FFD93D ;
    &:hover{
        color: #4A90E2;
    }
}

.main{
    position: fixed;
    background-color: #121212 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.todoBox{
    background-color: #1E1E1E ;
    width: 800px;
    height: 500px;
    border-radius: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
}

.todoHeading{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 40px;
    font-weight: 900;
}

.todoAdd{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.todoAdd input{
    background-color: #2C2C2C;
    width: 70%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #3D3D3D;
    border-radius: 15px;
    font-size: 20px;
}

.todoAdd i{
    font-size: 30px;
    &:hover{
        cursor: pointer;
    }
}

.todosMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.todos{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%; 
    border-radius: 40px;   
}

.todoCat{
    width: 100%;
    height: 60px;
    display: flex;
}

.todoPending{
    border-radius: 40px 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #483434 ;
    
}

.todoDone{
    border-radius: 0 40px 0 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.todoPending,
.todoDone{
    font-size: 20px;
    font-weight: 600;
}

.todoList{
    display: flex;
    width: 100;
    padding: 15px 10px;
    font-size: 20px;
}

.todoDesc{
    width: 80%;
    padding-left: 50px;
}

.todoAction{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.allTodos{
    overflow-y: scroll;
    width: 100%;
    height: 280px;
    border-radius: 0 0 34px 34px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #1E1E1E;
}

.doneTodo{
    color: #26da71;
}

.cancelTodo{
    color: #ff4d4d;
}
